@import "settings";
@import "foundation.scss";
@import "style";
@import url(http://fonts.googleapis.com/css?family=Merriweather:300|Gilda+Display:400|Source+Sans+Pro:400|Dancing+Script|Oswald);

// @font-face {
//   font-family: 'Dancing Script';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Dancing Script'), local('DancingScript'), url(/fonts/dancingscript.woff) format('woff');
// }
// @font-face {
//   font-family: 'Gilda Display';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Gilda Display'), local('GildaDisplay-Regular'), url(/fonts/gildadisplay.woff) format('woff');
// }
// @font-face {
//   font-family: 'Merriweather';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Merriweather Light'), local('Merriweather-Light'), url(/fonts/merriweather.woff) format('woff');
// }
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/oswald.woff) format('woff');
// }
// @font-face {
//   font-family: 'Source Sans Pro';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/sourcesanspro.woff) format('woff');
// }


@media screen and (-webkit-min-device-pixel-ratio:0) {
}

// Small
@media only screen and (max-width: 40em) {
  .top-bar .name h1 a {
    display: inline;
    text-align: center;
    padding-left: 26.6667px !important;
  }

  // index
  .slick-dots {
    position: static !important;
    margin: auto auto;

  }
  .slick-slider {
    margin-bottom: 0 !important;
  }
  .save-the-date {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }
  .blurbs {
    margin-bottom: 0 !important;
    h3 {
      font-size: 1em;
    }
  }
  .orbit-bg {
    padding: 5% 0 2% !important;
  }

  // wedding_party
  .wed-party {
    margin-bottom: 0 !important;

    h2 {
      text-align:center;
    }
    .sub-nav dt, .sub-nav dd, .sub-nav li {
      margin-left: 0;
    }
    .sub-nav {
      margin-bottom: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .bio {
    margin-top: 0.5rem;
  }
  .full-name {
    font-size: 23px;
    text-align:center;
  }

  //info
  .info-nav {
    display: none;
  }
  .big-day {
    h2 {
      text-align:center;
    }
    h4 {
      font-size: 1rem !important;
    }
  }

  //footer
  .footer {
    .border-right {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-right: none !important;
    }
    .sig {
      margin-top: 3rem !important;
    }
  }
}

// Medium
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .title-area {
    width: 100%;
    padding-left: 26.6667px;
  }
  .top-bar-menu {
    float: none !important;
  }
  .girls, .boys, .gw {
    margin: 0 26px;
  }
  .wed-party {
    .bio {
      padding: 0 26px;
    }
    #groomswomen .full-name {
      text-align: center;
    }
    .mm {
      margin-left: 1rem;
    }
  }

}

@media only screen and (min-width: 64.063em) {
  .index {
    .orbit-container .orbit-slides-container {
      min-height: 411px;
    }
  }
}

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

