@import "settings";
@import "foundation.scss";
@import "style";
@import url(http://fonts.googleapis.com/css?family=Merriweather:300|Bitter|Gilda+Display:400|Source+Sans+Pro:400|Niconne:400|Dancing+Script|Lato|Oswald);

@font-face {
  font-family: 'chunk-webfont';
  src: url('../../includes/fonts/chunk-webfont.eot');
  src: url('../../includes/fonts/chunk-webfont.eot?#iefix') format('eot'),
  url('../../includes/fonts/chunk-webfont.svg') format('svg'),
  url('../../includes/fonts/chunk-webfont.woff') format('woff'),
  url('../../includes/fonts/chunk-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'chunk-webfont';
  src: url('../../includes/fonts/chunk-webfont.svg') format('svg');
  }
}

@media only screen and (min-width: 64.063em) {
  .index {
    .orbit-container .orbit-slides-container {
      min-height: 411px;
    }
  }
}

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}

