<div class="row footer">

  <div class="small-12 medium-6 large-6 columns border-right">

    <h4>
      <i class="fa fa-lg fa-instagram"></i>
      <i class="fa fa-lg fa-facebook"></i>
      <i class="fa fa-lg fa-twitter"></i>
      #kristenandrich
    </h4>
    <p>Remember to hashtag all your tweets, photos and videos!</p>
    </br>
    </br>
    <a href=mailto:kristenrich2014@gmail.com><i class="fa fa-lg fa-envelope"></i>Email us!</a>
  </div>

  <div class="small-12 medium-5 large-offset-1 large-4 columns">
    <h4><strong>Get your RSVPs in!<strong></h4>
    <p>We need them by July 1, 2014.. or else! (please)</p>
  </div>

  <div class="sig columns">
    <span>Handmade invitations crafted by Thuy DeGuzman, <%= link_to "Lil Buddha", "http://lilbuddah.com" %><span><br/><br/>
    <span>2014 <i class="fa fa-angle-right"></i> Website created with <i class="fa fa-heart"></i> for Rich&Kristen by <a href="http://twitter.com/wayside5">Wayne Yang</a></span>
  </div>
</div>


