<div class="footer-bg">
  <div class="row footer">

    <div class="small-12 large-6 columns border-right">

      <h4>
        <i class="fa fa-lg fa-instagram"></i>
        <i class="fa fa-lg fa-facebook"></i>
        <i class="fa fa-lg fa-twitter"></i>
        #kristenandrich
      </h4>
      <p>Remember to hashtag all your tweets, photos and videos!</p>
      </br>
      </br>
      <!-- <i class="fa fa&#45;lg fa&#45;envelope"></i><span>Email us! kristenrich2014@gmail.com</span> -->
      <i class="fa fa-lg fa-envelope"></i><a href=mailto:kristenrich2014@gmail.com>Email us!</a>
    </div>

    <div class="small-12 large-offset-1 large-4 columns">
      <h4><strong>Get your RSVPs in!<strong></h4>
      <p>We need them by July 1, 2014.. or else! (please)</p>
    </div>

    <div class="sig columns">
      <span>2014 <i class="fa fa-angle-right"></i> Made with <i class="fa fa-heart"></i> for Rich&Kristen by <a href="http://twitter.com/wayside5">Wayne Yang</a></span>
    </div>
  </div>
</div>


