---
title: Rich & Kristen
---
<div class="contain-to-grid">

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Richard <span class="amp">&</span> Kristen
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/our_story">Our Story</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/info">Where/When/How</a></li>
        <li><a href="/wedding_party">Wedding Party</a></li>
      </ul>

    </section>
  </nav>
</div>

<div class="orbit-bg">

  <div class="row index">

      <ul data-orbit data-options="animation: slide;
                                    timer_speed: 5000;
                                 animation_speed: 500;
                                        bullets: true;
                                  slide_number: false;
                                  next_on_click: true;
                             resume_on_mouseout: true;
                                       bullets: false;">

        <li>
          <img data-interchange="images/4.jpg, (default)" alt="slide 1" />
        </li>

        <li>
          <img data-interchange="images/10.jpg, (default)" alt="slide 2" />
        </li>

        <li>
          <img data-interchange="images/21.jpg, (default)" alt="slide 4" />
        </li>

        <li>
          <img data-interchange="images/29.jpg, (default)" alt="slide 9" />
        </li>

        <li>
          <img data-interchange="images/36.jpg, (default)" alt="slide 10" />
        </li>

        <li>
          <img data-interchange="images/80.jpg, (default)" alt="slide 14" />
        </li>
      </ul>
  </div>

</div>

<div class="row save-the-date">
  <div class="text-center">
    <h1>Save the Date</h1>
    <h3>August 2, 2014</h3>
    <h4>Hyatt Regency @ Penn's Landing, Philadelphia, PA</h4>
  </div>
</div>

<div class="row blurbs">

  <div class="small-12 large-4 columns">
    <div class="circle">
      <div class="blurb-wrap text-center">
        <i class="fa fa-2x fa-heart"></i>
      </div>
    </div>
    <h3><a href="/our_story">Our Story</a></h3>
    <p>Integer non venenatis sapien. Maecenas sed tortor in purus posuere consequat vel id nisi. Praesent.</p>
  </div>

  <div class="small-12 large-4 columns">
    <div class="circle">
      <div class="blurb-wrap text-center">
        <img src="images/icon-church.png" />
      </div>
    </div>

    <h3><a href="/big_day">The Big Day</a></h3>
    <p>Integer non sapien. Maecenas sed purus posuere consequat vel id nisi. Praesent.</p>
  </div>

  <div class="small-12 large-4 columns">
    <div class="circle">
      <div class="blurb-wrap">
      </div>
    </div>

    <h3><a href="/travel">Travel Info</a></h3>
    <p>Maecenas sed purus posuere consequat vel id nisi. Praesent.</p>
  </div>

</div>
