---
title: Rich & Kristen
---
<div class="contain-to-grid">

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Richard <span class="amp">&</span> Kristen
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/our_story">Our Story</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/info">Where/When/How</a></li>
        <li><a href="/wedding_party">Wedding Party</a></li>
      </ul>

    </section>
  </nav>
</div>

<div class="row border">
</div>

<div class="row">
  <img class="dotted-frame" data-interchange="images/2.jpg, (default)"/>
</div>

<div class="row our-story">
  <h2 class="text-center">we are...</h2>

  <div class="small-6 columns">
    <div class="text-center">
      <div class="sub-heading">GROOM</div>
      <h3 class="name text-center">Richard Ramones</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p> Maecenas sed tortorMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortoriere consequat Maecenas sed tortor i posuere consequaMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor it</p>
    <p> Maecenas seere consequat Maecenas sed tortor in purus posuere consequatMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor</p>
  </div>

  <div class="small-6 columns">
    <div class="text-center">
      <div class="sub-heading">BRIDE</div>
      <h3 class="name">Kristen Palis</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p> Maecenas sed tortorMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor i iere consequat Maecenas sed tortor i posuere consequaMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor </p>
    <p> Maecenas seere consequat v Maecenas sed tortor in purus posuere consequatMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor </p>
  </div>

  <h2 class="text-center">Big Thanks</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim varius imperdiet. Vivamus ac augue in eros tempus bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc lacinia mattis lorem. Maecenas dapibus neque id scelerisque sagittis. Etiam sed ullamcorper augue, nec laoreet odio. Duis egestas, dolor sed vehicula commodo, metus justo auctor lorem, mollis euismod est augue quis odio. Vestibulum fringilla nisi ac ante mattis, et rutrum metus scelerisque. Aliquam eget sapien arcu. Aenean sed fermentum nisi, id pharetra lacus. Mauris sollicitudin mattis ligula fringilla pulvinar. Donec nibh leo, sodales sit amet interdum et, cursus nec lectus.</p>
  <p>Donec lectus mauris, mollis in nunc non, mattis dapibus nulla. Donec suscipit, eros a sodales sodales, odio dolor porttitor massa, ut imperdiet tortor erat in turpis. Maecenas venenatis convallis dictum. Duis eleifend lectus faucibus auctor ullamcorper. Phasellus egestas lectus tortor, non ultricies dui tempus a. Aliquam quis nisl quis lacus vehicula egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla porta consequat mauris, imperdiet imperdiet arcu tempus eget. Maecenas viverra mauris ac odio ornare vehicula. Pellentesque ut convallis quam. Mauris lobortis vehicula nunc vitae tempor. Vivamus pretium auctor purus, condimentum fringilla sem porttitor aliquet. Phasellus eget leo sed elit placerat luctus ac eu metus. Aliquam turpis metus, porta et urna nec, tincidunt fringilla ipsum.</p>
</div>

