---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>
<br />

<div class="row">
  <img class="dotted-frame" data-interchange="images/2.jpg, (default)"/>
</div>

<div class="row our-story">
  <h2 class="text-center">we are...</h2>

  <div class="small-12 large-6 columns">
    <div class="text-center">
      <div class="sub-heading">GROOM</div>
      <h3 class="name text-center">Richard Ramones</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p>As my family and my best friends would tell you,  I am a relentless teaser and "jerk" to those I love. Unfortunately for Kristen, she is the love of my life and hence has to deal with the most annoying person possible - me.
    <br/><br/>Underneath all my teasing of my soon to be wife, is a pure, burning and everlasting love and admiration one person could possibly feel for another.
    <br/><br/>Kristen has been a steadfast supporter of me for the decade we have known each other, over 5 years we have been together and close to 18 months we have been engaged. Whether it was grinding through law school, sports competitions, a horrible job market or the ups and downs of private practice, she was always there - my number No. 1 fan- through my successes or embarrassing failures. You never doubted me, even when others or myself did. Thank you for your love and support, I wouldn't be who I am today without it.
    <br/><br/>Kristen, when we started dating in our mid twenties, I knew I couldn't be with anyone who wouldn't be an amazing mother for my children. Thus, I initially I fell for you because of your caring, kind and genuine personality - similar to my mother. Separately, it didn't hurt that you became absolutely gorgeous, especially post-college. :)
    <br/><br/>Now, knowing that you will endlessly and unconditionally love me, our current family and our future family, just further solidified the best decision I made in my life - asking you to marry me.
    <br/><br/>I love you, Brown.
    <br/><br/>**
    </p>
  </div>

  <div class="small-12 large-6 columns">
    <div class="text-center">
      <div class="sub-heading">BRIDE</div>
      <h3 class="name">Kristen Palis</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p>I met Rich in the fall of 2004, back when we were still freshmen at Rutgers University. One day in our expos writing class, this Chinese looking, super-saiyan hair spiking, gangster dressing, muscular Asian guy (that is the only time I will ever call you muscular, by the way) approached me asking if I went to the RAPS meeting, trying to use his smooth-talking antics on me. Of course, I did not entertain this conversation in the least bit, mostly because I was shy… but partly because I knew right away he was a huge flirt – and I did not like flirts. But who would’ve known that this “flirt” would later down the road pull a 180, become the love of my life, the person who I would grow old with, and the person who I will have to watch dance to Beyonce every single day for the rest of my life (he booty pops like it’s no one’s business).
    <br/><br/>From that “conversation” onwards, we became close friends throughout our time together at Rutgers. However, our relationship didn’t blossom until he moved to south Jersey to go to Rutgers Law School in Camden, which is close to where I live. We became best friends, eventually started dating, and 4 years later, got engaged. And the rest is history.
    <br/><br/>If there’s anything that I can say about Rich is that he is the most loving, caring, thoughtful, selfless and giving person that I know. He’s been there through the ups and downs with everyone, not just me, because he’s the type of person that will be there for you no matter what. He’s motivated, determined and strives to always be better than yesterday, and this is something that I will always admire about him.
    <br/><br/>These past 2 years haven’t been the most ideal due to me studying thousands of miles away from him, but through it all he supported me and was rooting for me every step of the way. Ever since that day we met in expos, he has never left my side. And especially after everything we’ve been through together, I will never leave his.
    <br/><br/>I love you with everything I have. Thank you for being there for me through my lowest times and for rejoicing with me at my highest times. You’re my one in a million, my hub to my brown, my Jay-Z to my Beyonce, and my “U Mad Bro?” to my “I Ain’t Even Mad.” And even when we have to move to that cabin up in Vermont when we’re old and you’re dressed in camo every day, and I’m forewarning you that I will probably be mad at you for months because we’ll have to drive an hour to get to the grocery store, I will love you through it all. Because you’re the one for me, and I’m the one for you. I love you!!
    <br/><br/>**
    </p>
  </div>
</div>
<div class="row our-story">
  <div class="columns">
    <h2 class="text-center">Big Thanks</h2>
    <p>First and foremost, we both thank God for giving us so many blessings throughout our lives, including such loving friends and family.
    <br/><br/>Thank you in advance to everyone for their respect and understanding.
    <br/><br/>We only wish we had the ability to invite everyone we care for, including our loved ones no longer with us and those who desire to attend but cannot due to logistics beyond anyone's control.
    <br/><br/>A special thanks to the Palis (Mike and Emily) and Ramones (Ray and Tess) parents for being there throughout our lives to give us everything we needed, but more importantly, showing us the meaning of true love. We both have no doubt that we will succeed in our marriage, and future parental roles, because we had the best teachers - our very own parents.
    <br/><br/>Also thanks to our bridal party, family and friends for dealing with us through the exciting, stressful and hectic time leading up to the Big Day. We appreciate everyone understanding all of the obligations we have been personally and professionally trying to handle and are forever grateful for everyone's help and thoughtfulness through it all.
    <br/><br/>Thank you to bridesmaid, Thuy DeGuzman, for making our beautiful invitations. We're so deeply grateful for all your hard work, and we couldn't have done this without you guys! Thank you for everything!<3
    <br/><br/>Finally, thank you to Groomsman Wayne Yang for professionally putting together an absolutely stunning website.</p>
  </div>
</div>

