---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>
<br />

<div class="row">
  <img class="dotted-frame" data-interchange="images/2.jpg, (default)"/>
</div>

<div class="row our-story">
  <h2 class="text-center">we are...</h2>

  <div class="small-12 large-6 columns">
    <div class="text-center">
      <div class="sub-heading">GROOM</div>
      <h3 class="name text-center">Richard Ramones</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p>As my family and my best friends would tell you,  I am a relentless teaser and "jerk" to those I love. Unfortunately for Kristen, she is the love of my life and hence has to deal with the most annoying person possible - me.
    <br/><br/>Underneath all my teasing of my soon to be wife, is a pure, burning and everlasting love and admiration one person could possibly feel for another.
    <br/><br/>Kristen has been a steadfast supporter of me for the decade we have known each other, over 5 years we have been together and close to 18 months we have been engaged. Whether it was grinding through law school, sports competitions, a horrible job market or the ups and downs of private practice, she was always there - my number No. 1 fan- through my successes or embarrassing failures. You never doubted me, even when others or myself did. Thank you for your love and support, I wouldn't be who I am today without it.
    <br/><br/>Kristen, when we started dating in our mid twenties, I knew I couldn't be with anyone who wouldn't be an amazing mother for my children. Thus, I initially I fell for you because of your caring, kind and genuine personality - similar to my mother. Separately, it didn't hurt that you became absolutely gorgeous, especially post-college. :)
    <br/><br/>Now, knowing that you will endlessly and unconditionally love me, our current family and our future family, just further solidified the best decision I made in my life - asking you to marry me.
    <br/><br/>I love you, Brown.
    <br/><br/>**
    </p>
  </div>

  <div class="small-12 large-6 columns">
    <div class="text-center">
      <div class="sub-heading">BRIDE</div>
      <h3 class="name">Kristen Palis</h3>
      <div class="section-border"><i class="fa fa-heart abs"></i><i class="fa fa-heart abs"></i></div>
    </div>
    <p> Maecenas sed tortorMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor i iere consequat Maecenas sed tortor i posuere consequaMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor </p>
    <p> Maecenas seere consequat v Maecenas sed tortor in purus posuere consequatMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor iMaecenas sed tortor iere consequat Maecenas sed tortor </p>
  </div>
</div>
<div class="row our-story">
  <div class="columns">
    <h2 class="text-center">Big Thanks</h2>
    <p>First and foremost, we both thank God for giving us so many blessings throughout our lives, including such loving friends and family.
    <br/><br/>A special thanks to the Palis (Mike and Emily) and Ramones (Ray and Tess) parents for being there throughout our lives to give us everything we needed, but more importantly, showing us the meaning of true love. We both have no doubt that we will succeed in our marriage, and future parental roles, because we had the best teachers - our very own parents.
    <br/><br/>Also thanks to our bridal party, family and friends for dealing with us through the exciting, stressful and hectic time leading up to the Big Day. We appreciate everyone understanding all of the obligations we have been personally and professionally trying to handle and are forever grateful for everyone's help and thoughtfulness through it all.
    <br/><br/>Thank you to bridesmaid, Thuy DeGuzman, for making our beautiful invitations. We're so deeply grateful for all your hard work, and we couldn't have done this without you guys! Thank you for everything!<3
    <br/><br/>Finally, thank you to Groomsman Wayne Yang for professionally putting together an absolutely stunning website.</p>
  </div>
</div>

