---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>
<br />

<div class="row">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-clearing>

    <% [5, 9, 20, 32, 40, 54, 56, 17, 12, 11, 43, 55, 8, 3, 6, 7,1, 39, 22, 13, 14, 15, 18, 19, 23, 24].each do |x| %>

      <li>
        <% link_to("", class: "th") do %>
          <%= image_tag "images/#{x}.jpg" %>
        <% end %>
      </li>

    <% end %>

   </ul>
</div>

