---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>
<br />

<div class="row">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-clearing>
    <li><a href="images/5.jpg"><a class="th" href="images/5.jpg"><img src="images/5.jpg"></a></a></li>
    <li><a href="images/9.jpg"><a class="th" href="images/9.jpg"><img src="images/9.jpg"></a></a></li>
    <li><a href="images/xtra/13.jpg"><a class="th" href="images/xtra/13.jpg"><img src="images/xtra/13.jpg"></a></a></li>
    <li><a href="images/32.jpg"><a class="th" href="images/32.jpg"><img src="images/32.jpg"></a></a></li>
    <li><a href="images/40.jpg"><a class="th" href="images/40.jpg"><img src="images/40.jpg"></a></a></li>
    <li><a href="images/54.jpg"><a class="th" href="images/54.jpg"><img src="images/54.jpg"></a></a></li>
    <li><a href="images/56.jpg"><a class="th" href="images/56.jpg"><img src="images/56.jpg"></a></a></li>
    <li><a href="images/xtra/10.jpg"><a class="th" href="images/xtra/10.jpg"><img src="images/xtra/10.jpg"></a></a></li>
    <li><a href="images/12.jpg"><a class="th" href="images/12.jpg"><img src="images/12.jpg"></a></a></li>
    <li><a href="images/xtra/6.jpg"><a class="th" href="images/xtra/6.jpg"><img src="images/xtra/6.jpg"></a></a></li>
    <li><a href="images/43.jpg"><a class="th" href="images/43.jpg"><img src="images/43.jpg"></a></a></li>
    <li><a href="images/55.jpg"><a class="th" href="images/55.jpg"><img src="images/55.jpg"></a></a></li>


    <li><a href="images/xtra/5.jpg"><a class="th" href="images/xtra/5.jpg"><img src="images/xtra/5.jpg"></a></a></li>
    <li><a href="images/xtra/2.jpg"><a class="th" href="images/xtra/2.jpg"><img src="images/xtra/2.jpg"></a></a></li>
    <li><a href="images/xtra/3.jpg"><a class="th" href="images/xtra/3.jpg"><img src="images/xtra/3.jpg"></a></a></li>
    <li><a href="images/xtra/4.jpg"><a class="th" href="images/xtra/4.jpg"><img src="images/xtra/4.jpg"></a></a></li>
    <li><a href="images/xtra/1.jpg"><a class="th" href="images/xtra/1.jpg"><img src="images/xtra/1.jpg"></a></a></li>
    <li><a href="images/39.jpg"><a class="th" href="images/39.jpg"><img src="images/39.jpg"></a></a></li>
    <li><a href="images/xtra/14.jpg"><a class="th" href="images/xtra/14.jpg"><img src="images/xtra/14.jpg"></a></a></li>
    <li><a href="images/xtra/7.jpg"><a class="th" href="images/xtra/7.jpg"><img src="images/xtra/7.jpg"></a></a></li>
    <li><a href="images/xtra/8.jpg"><a class="th" href="images/xtra/8.jpg"><img src="images/xtra/8.jpg"></a></a></li>
    <li><a href="images/xtra/9.jpg"><a class="th" href="images/xtra/9.jpg"><img src="images/xtra/9.jpg"></a></a></li>
    <li><a href="images/xtra/11.jpg"><a class="th" href="images/xtra/11.jpg"><img src="images/xtra/11.jpg"></a></a></li>
    <li><a href="images/xtra/12.jpg"><a class="th" href="images/xtra/12.jpg"><img src="images/xtra/12.jpg"></a></a></li>
    <li><a href="images/xtra/15.jpg"><a class="th" href="images/xtra/15.jpg"><img src="images/xtra/15.jpg"></a></a></li>
    <li><a href="images/xtra/16.jpg"><a class="th" href="images/xtra/16.jpg"><img src="images/xtra/16.jpg"></a></a></li>
  </ul>
</div>

