<div class="contain-to-grid">

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Richard <span class="amp">&</span> Kristen
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/our_story">Our Story</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/info">Where/When/How</a></li>
        <li class="active"><a href="/wedding_party">Wedding Party</a></li>
      </ul>

    </section>
  </nav>
</div>

<div class="row border">
</div>

<div class="row wed-party">
  <h1 style="margin-top: 1.5rem;">Meet the bridesmaids and groomsmen</h1>
  <div class="small-12 large-9 columns">
    <p>sque habitant morbi tristiique senectus et netus et malesuada fames ac turpis esque habitant morbiique senectus et netus et malesuada fames ac turpis esque habitant morbiique senectus et netus et malesuada fames ac turpis esque habitant morbique senectus et netus et malesuada fames ac turpis esque habitant morbi tristique senectus et netus et malesuada fames ac turpis e</p>
    <p>iquique senectus et netus et malesuada fames ac turpis esque habitant morbie senectus et netus et malesuada fames ac turpis esque hique senectus et netus et malesuada fames ac turpis esque habitant morbiique senectus et netus et malesuada fames ac turpis esque habitant morbiabitant morbi<p>
  </div>
</div>

<div class="row girls wed-party">
  <h2>The Girls</h2>
  <dl class="sub-nav">
    <dd class="active">
      <a data-orbit-link="g0">Courteney Palis</a>
    </dd> 
    <dd>
      <a data-orbit-link="g1">Kim</a>
    </dd>
    <dd>
      <a data-orbit-link="g2">Sneha</a>
    </dd>
    <dd>
      <a data-orbit-link="g3">Ann</a>
    </dd>
    <dd>
      <a data-orbit-link="g4">Thuy</a>
    </dd>
    <dd>
      <a data-orbit-link="g5">Nicole</a>
    </dd>
    <dd>
      <a data-orbit-link="g6">Tricia</a>
    </dd>
  </dl>
</div>

<div class="row wed-party">
  <ul id="girls" data-orbit data-options="timer_speed: 7500;
                            pause_on_hover: true;
                            slide_number: false;
                            timer_show_progress_bar: false;
                            resume_on_mouseout: true;">

    <li data-orbit-slide="g0">
      <div class="cp small-5 small-offset-1 columns">
      </div>
      <div class="small-6 columns">
        <h4>Courteney Palis</h4>
        <p>My little sister, the one who knows me inside and out, the one I can not say a word to and she instantly knows what I’m thinking, the one who laughs exactly like me and is my bestest friend. She’s seen me at my best and my absolute worse. One of the strongest people I know, I admire her for putting up with me all these years and for never leaving my side. I never say it because I don’t like mushyness, but I sure do love my seestah</p>
      </div>
    </li>

    <li data-orbit-slide="g1">
      <div class="k small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Kim</h4>
        <p>My beautiful best friend since undergrad! We met at Rutgers and we’ve been inseparable ever since. The most loving, caring, thoughtful and understanding person – she gives her all to her friends. I don’t know what I would do without her in my life. We somehow always live parallel lives, whether we’re near or far, and whenever we see each other again, it’s like we never even left. We’ve shared so many memories – all the ups and downs, the good times and the bad times, and through it all we’ve stuck by each other and always had each other’s backs. I’m so lucky to have her as my best friend and as my bridesmaid – she’s my sister from another mister and I love her so!!</p>
      </div>
    </li>

    <li data-orbit-slide="g2">
      <div class="s small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Sneha</h4>
        <p>My gorgeous little snehacakes<3 We were roomies in college and living with her was my best year of undergrad. From sharing heart-to-hearts to our love of music to dancing to *NSYNC in front of the windows of Rockoff, I owe so many smiles and laughter to her J I love that I can be myself and be extremely goofy with her, and I can’t wait til we’re 80 and still act like no one’s watching<3</p>
      </div>
    </li>

    <li data-orbit-slide="g3">
      <div class="a small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Ann</h4>
        <p>Babygirllll, what’s your name? My one and only babygirl! We met sophomore year in college and we instantly clicked. I lived with her senior year and I couldn’t have asked for a better roomie/friend. She’s always been there through thick and thin, and I love that I can look back at our memories together and just feel so utterly happy and blessed to have her in my life. One of the most beautiful and smartest people I know – I couldn’t have asked anyone else to be there by my side on my wedding day!</p>
      </div>
    </li>

    <li data-orbit-slide="g4">
      <div class="thuy small-5 small-offset-2 columns"></div>
      <div class="small-5 columns">
        <h4>Thuy</h4>
        <p>One of the most selfless people I know. She’s one of Rich’s best friends, but I’m so blessed to have gotten to know her and what a beautiful person she is.  She’s one of the most thoughtful people I’ve ever met – and the little things she does to make people smile warms my soul J I admire her for all she is – a caring, loving and the most giving person – thank you for being there for both Rich and I from the very beginning<3</p>
      </div>
    </li>

    <li data-orbit-slide="g5">
      <div class="n small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Nicole</h4>
        <p>My gorgeous ate. She’s the eldest out of my cousins and is such a wonderful role model to all of us – I couldn’t have asked for a better ate to look up to. She’s beautiful on the outside and even more beautiful on the inside. Her work ethic, her outgoing personality, and the way she loves her family and friends completely with all that she has is something that I’ll always admire<3</p>
      </div>
    </li>

    <li data-orbit-slide="g6">
      <div class="tr small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Tricia</h4>
        <p>My other gorgeous cousin! I love flying over to visit her and we can have the time of our lives, even if it’s just sitting in her room being our goofy selves. Whenever I fly back to Cali, it’s like nothing has changed. Whenever I’m around her, I get so caught up in the good times I’m having. Such a fun and beautiful person, I’m so blessed to have her as a cousin and my bridesmaid<3</p>
      </div>
    </li>
  </ul>

</div>

<div class="row boys wed-party">
  <h2>The Boys</h2>
  <dl class="sub-nav"> 

    <dd class="active">
      <a data-orbit-link="b0">John Way</a>
    </dd>

    <dd>
      <a data-orbit-link="b1">Markus Lee</a>
    </dd>

  </dl>
</div>

<div class="row wed-party"> <ul id="boys" data-orbit data-options="timer_speed: 7500;
                            pause_on_hover: true;
                            slide_number: false;
                            timer_show_progress_bar: false;
                            resume_on_mouseout: true;">

    <li data-orbit-slide="b0">
      <div class="circle small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>John Way</h4>
        <p>Integer non venenatis sapien. Maecenas sed tortor in purus posuere conseent.</p>
      </div>
    </li>

    <li data-orbit-slide="b1">
      <div class="circle small-5 small-offset-1 columns"></div>
      <div class="small-6 columns">
        <h4>Markus Lee</h4>
        <p>Integer non s sapien. Maecenas sed tortor in purus posuere conseent.</p>
      </div>
    </li>
  </ul>
</div>
